<%= link_to "Sign in as a different user", users_signin_path %>
<%= link_to "Go Back", url_for(:back) %>
<hr>

<p id="notice"><%= notice %></p>

<iframe src="<%= @rss_post.link %>" width="100%" height="100%" />
